.monthly_calendar {
  // display: block;
}
.event-list {
  display: none;
}

.calendar-heading {
  color: black;
  font-size: 28px;
}

.calendar-heading a {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.calendar-title {
  margin: 425px;
}
